*{
    margin: 0;
    padding: 0;  
}

.btn{
    background: #fd7e14;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 400px;
    text-decoration: none;
    box-shadow: 5px 3px 4px #666468 ;
}

.btn span{
    margin-right: 10px;
}
